requests
python-dotenv
pymongo
notebook
pandas
openai
azure-core
azure-identity
azure-search-documents
pypdf
docx2txt
faiss-cpu
streamlit
streamlit-chat
langchain
langchain-community
langchain-experimental
langchain-core
langchain_openai
huggingface-hub